<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" data-th-href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}">
<title>Formulario Docentes</title>
</head>
<body class="bg-dark text-white">
	<header th:replace="~{layouts/header.html :: header}"></header>
	<div class="container my-5">
		<h1 class="p-2">Formulario docente</h1>
		<form th:object="${nuevoDocente}" th:action="${flag}?@{/modificarDocente}:@{/guardarDocente}" method="post" class="p-2">
			<div class="col-6">
				<label for="legajo" class="form-label">Legajo</label> 
				<input type="text" class="form-control bg-dark text-white" id="legajo" th:field="*{legajo}" th:readonly="${flag}" required>				
			</div>
			<div class="col-6">
				<label for="nombre" class="form-label">Nombre</label>
				<input type="text" class="form-control bg-dark text-white" id="nombre" th:field="*{nombre}" required>
			</div>
			<div class="col-6">
				<label for="apellido" class="form-label">Apellido</label>
				<input type="text" class="form-control bg-dark text-white" id="apellido" th:field="*{apellido}" required>
			</div>
			<div class="col-6">
				<label for="mail" class="form-label">Mail</label>
				<input type="mail" class="form-control bg-dark text-white" id="mail" th:field="*{mail}" required>
			</div>
			<div class="col-6">
				<label for="telefono" class="form-label">Telefono</label>
				<input type="text" class="form-control bg-dark text-white" id="telefono" th:field="*{telefono}" required>
			</div><br>
			<button type="submit" class="btn btn-primary">Guardar Docente</button>
		</form>
	</div>
	<footer th:replace="~{layouts/footer.html :: footer}"></footer>
	<script data-th-src="@{/webjars/bootstrap/5.3.3/js/bootstrap.bundle.min.js}"></script>
</body>
</html>
