<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Facultad de Ingeniería - UNJu</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="estilos.css">
</head>	
<body>

    <div th:replace="layouts/header.html :: header"></div>

    <div class="container my-5">
        <div class="row">

            <section class="col-md-9">
                <h2 class="h4">Bienvenidos a la Facultad de Ingeniería</h2>
                <p>La Facultad de Ingeniería de la Universidad Nacional de Jujuy se dedica a la formación de profesionales con altos estándares de calidad y compromiso social. Ofrecemos una variedad de programas académicos diseñados para preparar a nuestros estudiantes para los desafíos del mundo moderno.</p>

                <h3 class="h5 mt-4">Noticias Recientes</h3>
                <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title">2° Turno ordinario de Examenes 2024</h5>
                        <p class="card-text">Del 3 al 14 de junio - FECHAS DE INSCRIPCIÓN (A partir del 27/05/24):</p>
                    </div>
                </div>

				<h3 class="h5 mt-4">Inscripciones</h3>				
				<p>La Facultad de Ingeniería de la Universidad Nacional de Jujuy, llama a la inscripción de interesados para cubrir 1 (una) Plaza de Pasantía para las carreras de Ingeniería Informática, Licenciatura en Sistemas y Analista Programador Universitario, solicitadas por la empresa BALUT Hnos.</p>
				
				<h4 class="h5 mt-4">Descripción de las tareas a desempeñar:</h4>
				<ul>
				    <li>Administrador de Sistema en Gral – Generación de informes semanales – Control de equipos e insumos informáticos – Cámaras de seguridad – Implementaciones</li>
				    <li>Relevamientos informáticos.</li>
				</ul>
				
				<h4 class="h5 mt-4">Docentes Guía:</h4>
				<ul>
				    <li>Ing. Enrique Ademar Peralta</li>
				    <li>Ing. Pablo Sadir</li>
				    <li>APU Daniel Espinoza</li>
				</ul>
				
				<h4 class="h5 mt-4">Requisitos:</h4>
				<p>Podrán postularse válidamente para la presente convocatoria, según Art. 1 del Reglamento de Pasantías Estudiantiles de la UNJu aprobado mediante resolución CS N° 034/10, los Alumnos Activos Plenos que tengan aprobadas todas las asignaturas del segundo año de la carrera correspondiente.</p>
				
				<p>Las condiciones académicas específicas de la presente convocatoria son:</p>
				<ul>
				    <li>Ingeniería Informática: los alumnos deberán tener aprobada la materia Modelos de Desarrollo de Programas y Programación Concurrente de 3° año- Plan 2010 o aprobada la materia Modelado Orientado a Objetos de 3° año - Plan 2022.</li>
				    <li>Licenciatura en Sistemas: los alumnos deberán tener aprobada la materia Bases de Datos de 2º año y regularizado Sistemas de Información I de 3° año – Plan 2010 o haber regularizado la materia Sistemas de Información II de 3° año – Plan 2022.</li>
				    <li>Analista Programador Universitario: los alumnos deberán tener aprobado el 1º y 2º año de la carrera y las materias de 3º año: Redes I, Redes II.</li>
				</ul>
				
				<p>Sexo: Indistinto.</p>
				<p>Edad: Indistinto.</p>
				
				<p>La Pasantía Estudiantil se llevará a cabo en la Av. Urquiza - Bº Centro - San Salvador de Jujuy. Lunes a Viernes de 08 a 12:00hs</p>
				<p>Asignación estímulo: Aprox. $ 235.000 (doscientos treinta y cinco mil pesos)</p>
				<p>Duración: 12 (doce) meses</p>
				
				<p>La inscripción de postulantes se realizará mediante el formulario web habilitado en la página de la Facultad de Ingeniería desde el 20 al 27 de mayo del 2024 inclusive, a las 23:55 hs.</p>
				<p>La difusión de los postulantes inscriptos y en condiciones será exhibida a partir del 30 de mayo del 2024 en la página de la Facultad de Ingeniería.</p>
                
				<h3 class="h5 mt-4">Contacto</h3>
                <p>Para más información, puede contactarnos a través de los siguientes medios:
                   <ul>
                       <li>Teléfono: 0388-583-2696</li>
                       <li>Email: info@fi.unju.edu.ar</li>
                       <li>Dirección: Av. Italia 1234, San Salvador de Jujuy, Jujuy, Argentina</li>
                   </ul>
                </p>
            </section>
        </div>
    </div>

    <div th:replace="layouts/footer.html :: footer"></div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
