<footer th:fragment="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <p>Contacto: Dirección, Teléfono, Correo electrónico</p>
            </div>
            <div class="col-md-6 text-right">
                <p>&copy; 2024 Facultad de Ingeniería - UNJu. Todos los derechos reservados.</p>
                <p>
                    <a href="https://www.facebook.com">Facebook</a> | 
					<a href="https://twitter.com">Twitter</a> | 
					<a href="https://www.instagram.com">Instagram</a>

                </p>
            </div>
        </div>
    </div>
</footer>
