
	<!DOCTYPE html>
	<html lang="es" xmlns:th="http://www.thymeleaf.org">
	<head>
	    <meta charset="UTF-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	    <title th:text="${title}">Facultad de Ingeniería - UNJu</title>
	    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	    <link rel="stylesheet" href="estilos.css">
	</head>
	<body>

	    <div th:replace="layouts/header.html :: header"></div>
	

	    <div class="container my-5">
			<ul class="navbar-nav ml-auto">
			             <li class="nav-item active">
							<a class="nav-link" href="/index.html">Inicio</a>
							<a class="nav-link" href="/biblioteca.html">Biblioteca</a>
							<a class="nav-link" href="/calendario-academico.html">Calendario Académico</a>
			
			             </li>
			         </ul>
	    </div>
	

	    <div th:replace="layouts/footer.html :: footer"></div>
	
		<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
		    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
		    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
	</body>
	</html>
